{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3>Apresentação</h3>
    <br>
    <p>
        Tenho 23 anos e tirei o curso em Gestão e Programação de Sistemas Informáticos na escola secundária da Amadora, juntamente com um estágio final de curso na empresa HBPro.
    </p>
    <p>
        Neste momento sou estudante universitário a tirar a Licenciatura em Engenharia Informática na Universidade Lusófona em Lisboa.
    </p>
    <p>
        Adoro programar, andar de mota, ouvir música e procuro sempre saber mais na área de informática ao qual sempre tive uma relação bastante próxima desde pequeno.
    </p>
    <p>
        Sou uma pessoa descontraída e que está sempre disponível para ajudar os outros.
    </p>
{% endblock %}