{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        main{
          padding: 0;
        }
    </style>
    <section>
        {% load static %}
        <video src="{% static 'portfolio/images/hero.mp4' %}" muted autoplay loop></video>
        <div class = "escuro"></div>
        <div class = "perfil-image">
            {% load static %}
            <img src="{% static 'portfolio/images/perfil.png' %}" alt="perfil">
            <p>
                Olá! Chamo-me João Yp, tenho {{ anos }} anos e sou estudante de Engenharia Informática na Universidade Lusófona em Lisboa!
            </p>
        </div>
    </section>
    <article class="primeiro">

    </article>
    <article class='segundo'>
        <div class="textoArticleSegundo">
            <h3 class="sobre">Sobre Mim:</h3>
            <p>
                Tenho {{ anos }} anos e tirei o curso em Gestão e Programação de Sistemas Informáticos na escola secundária da Amadora, juntamente com um estágio final de curso na empresa HBPro.
                Neste momento sou estudante universitário a tirar a Licenciatura em Engenharia Informática na Universidade Lusófona em Lisboa.
                Adoro programar, andar de mota, ouvir música e procuro sempre saber mais na área de informática ao qual sempre tive uma relação bastante próxima desde pequeno.
                Sou uma pessoa descontraída e que está sempre disponível para ajudar os outros.
            </p>
        </div>
    </article>
    <div class="videoHome">
        <iframe width="800" height="500" src="https://www.youtube.com/embed/-EjhM74XF1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}