<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laboratório 10 - Portfólio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/quizz.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">
    <script>
            window.onload = function(){
                tempo();
            }

            function tempo() {
                let maxTemp = document.querySelector('.maxTemp');
                let minTemp = document.querySelector('.minTemp');

                fetch('//api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
                    .then(response => response.json())
                    .then(data => {
                        maxTemp.innerHTML = data['data'][0]['tMax'];
                        minTemp.innerHTML = data['data'][0]['tMin'];
                    })
            }

            setInterval(showTime, 1000);
            function showTime() {
                let time = new Date();
                let hour = time.getHours();
                let min = time.getMinutes();
                let sec = time.getSeconds();
                let am_pm = "AM";

                if (hour > 12) {
                    hour -= 12;
                    am_pm = "PM";
                }

                if (hour === 0) {
                    hour = 12;
                    am_pm = "AM";
                }

                hour = hour < 10 ? "0" + hour : hour;
                min = min < 10 ? "0" + min : min;
                sec = sec < 10 ? "0" + sec : sec;

                document.getElementById("clock").innerHTML = hour + ":" + min + ":" + sec + am_pm;
            }
            showTime();
        </script>
    <style>
        body{
            {% load static %}
            background-image: url("{% static 'portfolio/images/background.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
  <header>
    <div>
        João Yp
    </div>
      <p style="margin-left: 15px">Max:<p class="maxTemp"></p>Cº
      <p style="margin-left: 30px">Min: <p class="minTemp"></p>Cº
    <nav>
        <a href="{% url 'portfolio:home' %}">Home</a>
        <a href="{% url 'portfolio:blog' %}">Blog</a>
        <a href="{% url 'portfolio:quizz' %}">Quizz</a>
        <a href="{% url 'portfolio:labs' %}">Laboratórios</a>
        <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
        <a href="{% url 'portfolio:projetos' %}">Projetos</a>
        <a href="{% url 'portfolio:competencias' %}">Competências</a>
        <a href="{% url 'portfolio:formacao' %}">Formação</a>
    </nav>
      {% if request.user.is_authenticated %}
          <button class="login-user"><a href="{% url 'portfolio:logout' %}">Logout</a></button>
      {% else %}
          <button class="login-user"><a href="{% url 'portfolio:login' %}">Login</a></button>
      {% endif %}
  </header>
  <main>
      {% block main %}

      {% endblock main %}
  </main>
  <footer>
      <div id="clock">0:00:00</div>
      <p>Contacto:</p>
      <u><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=joaomayp@gmail.com&su=&body=&tf=1" target="_blank">joaomayp@gmail.com</a></u>
      - ULHT, 2022
  </footer>
</body>
</html>