{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1>Projetos:</h1>

    <div class="btn-novaCadeira">
        <a href="{% url 'portfolio:novoProjeto' %}">
            <button> + </button>
        </a>
    </div>

    <div class="projetos">
        {% for projeto in projetos %}
          <div style="text-align: center">
            <h2>{{ projeto.titulo}}</h2>
              <br>
              <p>
                  {{ projeto.descricao }}
              </p>
              <img src="{{ projeto.imagem.url }}" style="margin-top: 20px; width: 220px; height: 200px" alt="">
              <br><br>
              <u><a href="{% url 'portfolio:editarProjeto' projeto.id %}">Edit</a></u>
              <u><a href="{% url 'portfolio:apagarProjeto' projeto.id %}">Delete</a></u>
          </div>
        {% endfor %}
    </div>
{% endblock %}