section{
    width: 100%;
    height: 90vh;
    position: relative;
    right: 0;
}

section video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.perfil-image{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.perfil-image p{
    margin: 20px;
    font-size: 24px;
}

.escuro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.perfil-image img{
    border-radius: 50%;
}

article.segundo {
  height: 32vh;
  background: transparent;
  padding: 0 4vw;
  text-align: center;
  font-size: 1.6rem;
}

article.primeiro {
  /* como tem menu e rodapé visíveis (10vh cada), define-se como altura 80vh. */
  height: 20vh;
  background-image: url("https://source.unsplash.com/XMFZqrGyV-Q");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: start;
}

article.segundo p{
  margin-top: 50px;
}

article.segundo .sobre{
    margin-top: 50px;
}

.videoHome{
    text-align: center;
    padding-bottom: 10vh;
}